.grid {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 30vh;
}
h2 {
  padding: 10px;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 28vh;
  }
}

